@model QuizApps.Models.users
<div id="changePwd" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                @*<img src="~/images/profile.png" style="width:35%; display: block; margin-left: auto; margin-right: auto;" alt="profile" />*@
                <br />
                @using (Ajax.BeginForm("ChangePassword", "Account", null, new AjaxOptions
                    {
                        HttpMethod = "POST",
                        OnSuccess = "ProfChange",
                        OnFailure = "",
                    }, new { id = "form4" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "contol-label" })
                    <div class="alertMessage alert alert-success alert-dismissable" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        <strong>Success!</strong> Password is Changed.
                    </div>
                    <!-- Text input-->
                    <div class="form-group">

                        <div class=" inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                @Html.PasswordFor(u => u.Password, new { @id = "pwd", @class = "form-control", @placeholder = "New Password" })
                                @*<input name="password" placeholder="Password" class="form-control" type="password">*@
                            </div>
                        </div>
                        @Html.ValidationMessageFor(u => u.Password, "", new { @style = "font-family: inherit;color:#ff6666;" })
                    </div>
                    <!-- Text input-->
                    <div class="form-group">

                        <div class=" inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                @Html.PasswordFor(u => u.ConfirmPassword, new { @id = "conPwd", @class = "form-control", @placeholder = "Confirm Password" })
                                @*<input name="confirm password" placeholder="Confirm Password" class="form-control" type="password">*@
                            </div>
                        </div>
                        @Html.ValidationMessageFor(u => u.ConfirmPassword, "", new { @style = "font-family: inherit;color:#ff6666;" })
                    </div>

                    <div class="form-group">
                        <label class="control-label"></label>

                        <button type="submit" class="btn btn-primary" style="float: left; position: relative; left: 38%;">Submit <i class="fa fa-paper-plane" aria-hidden="true"></i></button>

                    </div>
                }
            </div>
        </div>

    </div>
</div>
